@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  @apply max-w-56 mx-auto px-2.5 sm:px-5.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary-800 dark:text-primary-200 font-extraBold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2;
}

blockquote,
p {
  @apply text-base;
}

p {
  @apply font-medium leading-6;
}

@screen sm {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2.5;
  }

  blockquote,
  p {
    @apply text-lg;
  }

  p {
    @apply font-medium leading-9;
  }
}

.link-underline {
  @apply border-b-2 border-secondary-600;
  @apply text-inherit font-semiBold px-0.5 py-px transition-colors;
  @apply hover:bg-secondary-600 hover:text-primary-100;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 5px;
  height: 100%;
  @apply bg-primary-700 dark:bg-primary-600;
  left: 13px;
}

.arrow-left:after {
  content: ' ';
  transform: rotate(-90deg);

  @apply absolute -right-1;
  @apply bg-transparent;
  @apply border-l-transparent border-r-transparent border-t-primary-700 dark:border-t-primary-600 border-b-transparent;
  @apply border-l-8 border-r-8 border-t-6;
}

@screen sm {
  .timeline::before {
    left: 48px;
  }
  .w-710px {
    width: 710px;
  }

  .arrow-left:after {
    @apply -right-1.5;
    @apply border-t-8 border-l-8 border-r-8;
  }
}

/* React tooltip */
.__react_component_tooltip.show {
  @apply dark:text-primary-100 dark:bg-primary-600 !important;
}

.__react_component_tooltip {
  @apply px-2 py-0.5 !important;
}

.place-top::after {
  @apply dark:border-t-primary-600 !important;
}
