::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}
.hoverChild span {
  transition: all 0.3s ease-in-out;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
