@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Pro';
}

p {
  margin-bottom: 16px;
}

ol,
ul {
  margin-bottom: 16px;
}

ol,
ul,
blockquote,
p {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
}

ol,
ul,
p {
  font-weight: 500;
  line-height: 1.5rem /* 24px */;
}

ul {
  padding-left: 2.25rem /* 36px */;
  list-style-type: disc;
}

ul li {
  margin-bottom: 8px;
}

@media (min-width: 640px) {
  p {
    margin-bottom: 20px;
  }

  ol,
  ul {
    margin-bottom: 26px;
  }

  ol,
  ul,
  blockquote,
  p {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
  }

  ol,
  ul,
  p {
    font-weight: 500;
    line-height: 2.25rem /* 36px */;
  }

  ul li {
    margin-bottom: 0px;
  }
}

/* Other */
.link-underline {
  @apply border-b-2 border-secondary-600;
  @apply text-inherit font-semiBold px-0.5 py-px transition-colors;
  @apply hover:bg-secondary-600 hover:text-primary-100;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 5px;
  height: 100%;
  @apply bg-primary-700 dark:bg-primary-600;
  left: 13px;
}

.arrow-left:after {
  content: ' ';
  transform: rotate(-90deg);

  @apply absolute -right-1;
  @apply bg-transparent;
  @apply border-l-transparent border-r-transparent border-t-primary-700 dark:border-t-primary-600 border-b-transparent;
  @apply border-l-8 border-r-8 border-t-6;
}

@screen sm {
  .timeline::before {
    left: 48px;
  }
  .w-710px {
    width: 710px;
  }

  .arrow-left:after {
    @apply -right-1.5;
    @apply border-t-8 border-l-8 border-r-8;
  }
}

/* React tooltip */
.__react_component_tooltip.show {
  @apply dark:text-primary-100 dark:bg-primary-600 !important;
}

.__react_component_tooltip {
  @apply px-2 py-0.5 !important;
}

.place-top::after {
  @apply dark:border-t-primary-600 !important;
}
