::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 14px;
  height: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(24, 49, 83, 0.49);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #183153;
}
.hoverChild span {
  transition: all 0.3s ease-in-out;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
