h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary-800 dark:text-primary-200 font-extraBold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2;
}

ol,
ul {
  @apply mb-3.7;
}

ol,
ul,
blockquote,
p {
  @apply text-base;
}

ol,
ul,
p {
  @apply font-medium leading-6;
}

ul {
  @apply pl-9 list-disc;
}

ul li {
  @apply mb-1;
}

@screen sm {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2.5;
  }

  ol,
  ul {
    @apply mb-3.2;
  }

  ol,
  ul,
  blockquote,
  p {
    @apply text-lg;
  }

  ol,
  ul,
  p {
    @apply font-medium leading-9;
  }

  ul li {
    @apply mb-0;
  }
}

/* ---------------------------- */

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

/* rehype-code-title */
.rehype-code-title {
  @apply bg-primary-800 mt-7 px-2.5 py-1.5 font-robotoMono text-sm font-medium text-primary-300  rounded-t-lg;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none !important;
}

@screen md {
  .rehype-code-title {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

/* Article Styles */
.article ul,
.article ol {
  @apply list-inside;
}

.article ul {
  @apply list-disc;
}

.article ol {
  @apply list-decimal;
}
