/* FOOTER */
.footer-design-site {
  border-top: 1px solid rgba(24, 49, 83, 0.5);
  color: rgba(24, 49, 83, 0.8);
  padding: 25px;
  font-family: 'Poppins', sans-serif;
}
.footer-content {
  padding: 0px;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-content {
    width: 100%;
  }
}
.autor-abraham-calsin {
  font-size: 0.8rem;
  margin: 0;
}
.autor-abraham-calsin::selection {
  background-color: #183153;
  color: #fff;
}
.authorAC {
  font-weight: 600;
}
.authorAC::selection {
  background-color: #183153;
  color: #fff;
}
/* SOCIAL MEDIA */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a {
  width: 13px;
  min-width: 13px;
  max-width: 13px;
  margin-right: 10px;
}
.social-media img {
  width: 100%;
  transition: 0.3s all;
  filter: blur(0) contrast(35%);
  display: block;
}
.social-media img:hover {
  filter: blur(0) contrast(100%) drop-shadow(0px 0px 2px #fff);
}
.social-media img::selection {
  background-color: transparent;
}
/* @MEDIA - RESPONSIVE */
@media (max-width: 516px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .frontend-developer {
    font-size: 10.3px;
    letter-spacing: 0.7px;
  }
  .divide-autor-social {
    display: inline;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .social-media a {
    width: 11px;
    min-width: 11px;
    max-width: 11px;
  }
  .social-media img {
    transition: 0.3s all;
    filter: blur(0) contrast(35%);
  }
}
/* STYLES - BTN IR ARRIBA */
#scroll-up img {
  display: none;
  width: 20px;
  transition: 0.2s all;
  filter: blur(0) contrast(35%);
}
#scroll-up img:hover {
  padding-bottom: 2px;
  filter: blur(0) contrast(100%) drop-shadow(0px 0px 2px #fff);
}
#scroll-up img::selection {
  background-color: transparent;
}
@media (max-width: 516px) {
  #scroll-up {
    background: #183153;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
  }
  #scroll-up img {
    position: absolute;
    display: block;
    left: 13px;
    top: 15px;
  }
}
