*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
/* HEADER */
.header{
	position: fixed;
	background: #fff;
	font-family: 'Lato', sans-serif;
	top: 0;
	width: 100%;
	padding: 10px;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	box-shadow: 2px 2px 2rem -0.6rem rgba(57,62,75,.2)
}
.logotype-abrahamcalsin img{
	padding: 3px;
	width: 100%;
	display: block;
	object-fit: cover;
	object-position: right top;
}
.logotype-abrahamcalsin{
	width: 80px;
	margin-left: 20px;
}
/* BTN - MENU */
#btn_menu{
	display: none;
}
.menu_navbar label{
	position: absolute;
	color: #4d4d4dff;
	display: none;
	right: 32px;
	top: 25px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	transition: .1s all;
}
/* NAVBAR */
.navbar{
	background: none;
	margin-right: 5px;
}
.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style: none;
	margin-top: 0px;
	margin-right: 20px;
	display: flex;
 	justify-content: center;
	align-items: center;
 }
.navbar ul li a:focus{
	outline: none;
}
.navbar-inicio, .navbar-motivacion, .material-adicional, .sobre-mi{
	color: #4d4d4dff;
	text-decoration: none;
	font-size: 0.763em;
	font-weight: 600;
	text-transform: uppercase;
	transition: .3s all;
}
.navbar-motivacion{
		color: #ff7f2aff;
}
.navbar-inicio:hover {color: #ff7f2aff;}
.material-adicional:hover {color: #ff7f2aff;}
.sobre-mi:hover {color: #ff7f2aff;}
/* CONTACT */
.contact-abrahamcalsin{
	margin-top: -5px;
	padding: 0px;
}
.contact-abrahamcalsin a{
	background: #ff7f2aff;
	text-decoration: none;
	color: #fff;
	font-size: 0.763em;
	font-weight: 600;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 7px;
}
.contact-abrahamcalsin a:focus{
	outline: none;
}
/* RESPONSIVE NAVBAR */
@media (max-width: 650px){
	.container{
		max-width: 95%;
	}
	.header{
		height: 70px;
	}
	.logotype-abrahamcalsin img{
		width: 100%;
		padding: 4px;
	}
	.navbar{
		position: fixed;
		background: #fff;
		border-top: 1px solid #eee;
		width: 100%;
		height: 100%;
		top: 69px;
		right: -700px;
		padding: 5px;
		transition: .4s all;
	}
	.navbar ul{
		display: block;
		padding: 3px;
		margin-left: 0px;
	}
	.navbar li{
		margin-left: 10px;
	}
	.navbar-inicio, .navbar-motivacion, .material-adicional, .sobre-mi{
		display: block;
		background: none;
		letter-spacing: 1px;
		margin-top: 5px;
		margin-bottom: 30px;
		margin-left: 10px;
		font-size: .8em;
		transition: .3s all;
		text-align: center;
	}
	.navbar-inicio{
		margin-top: 30px;
	}
	.navbar-motivacion{
		color: #ff7f2aff;
	}
	.navbar-inicio:hover {color: #ff7f2aff;}
	.material-adicional:hover {color: #ff7f2aff;}
	.sobre-mi:hover {color: #ff7f2aff;}
	.menu_navbar label{
		display: inline;
		cursor: pointer;
		transition: .1s all;
	}
	/* CONTACT */
	.contact-abrahamcalsin{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contact-abrahamcalsin a{
		padding-left: 30px;
		padding-right: 30px;
		letter-spacing: 1px;
		font-size: .8em;
	}
	.menu_navbar label:active {
		transform: scale(1.1);
	}
	#btn_menu:checked ~ .navbar{
    right: -5px;
	}
}
/* MOTIVATIONAL PHRASES SECTION */
.motivational-phrases-section{
	display: grid;
	padding: 80px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	grid-gap: 20px 35px;
	align-items: start;
	font-family: 'Poppins', sans-serif;
}
.motivational-phrase{
	background: #fafafa;
	color: #4d4d4dff;
	border-left: 5px solid #d9d9d9;
	padding: 15px;
	font-size: calc(11px + 8 * ((100vw - 320px) / 960)));

}
.motivational-phrase div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.motivational-phrase::selection{
	background-color: #4d4d4dff;
	color: #fff;
}
.motivational-phrase span::selection{
	background-color: #4d4d4dff;
	color: #fff;
}
.motivational-phrase div a{
	align-self: flex-end;
	text-decoration: none;
	color: #737373;
	transition: .3s all;
}
.motivational-phrase div a:hover{
	transform: rotate(-4deg) scale(1.1);
	color: #4d4d4dff;
}
.author-mot-phrase{
	color: #4d4d4dff;
	font-weight: bolder;
	font-style: italic;
	margin-top: 13px;
}
@media (max-width: 800px){
	.motivational-phrases-section{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		grid-gap: 15px 0px;
	}
}
@media (max-width: 500px){
	.motivational-phrases-section{
		padding: 40px;
		
	}
}
/* FOOTER */
.footer{
	background: #333333ff;
	padding: 25px;
	color: rgba(255, 255, 255, 0.62);
	margin-top: 0px;
	margin-bottom: -3px;
}
.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}
.autor-copyright{
	line-height: 0px;
	font-family: 'Poppins', sans-serif;
}
.autor-abraham-calsin{
	font-weight: bold;
	font-size: 12.7px;
	letter-spacing: 0.5px;
}
.frontend-developer{
	font-size: 12px;
	margin-top: -1px;
	letter-spacing: .7px;
}
/* DIVIDE - AUTOR - SOCIAL */
.divide-autor-social{
	margin-top: -6px;
	display: none;
}
.divide-autor-social div{
	width: 80px;
	height: 1px;
	background: rgba(255, 255, 255, 0.62);
	border-radius: 0px 10px 10px 0px;
}
/* SOCIAL MEDIA */
.social-media{
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.social-media a:focus{
	outline: none;
}
.social-media img{
	width: 16px;
	transition: .3s all;
	filter: blur(0) contrast(35%);
}
.social-media img:hover{
	filter: blur(0) contrast(100%) drop-shadow(0px 0px 2px #fff);
}
/* @MEDIA - RESPONSIVE */
@media (max-width: 516px){

	.footer-content{
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	.autor-copyright{
		margin-bottom: -5px;
	}
	.social-media a{
		margin-right: -4px;
	}
	.social-media{
		margin-top: 2px;
		margin-bottom: 0px;
	}
	.divide-autor-social{
		display: inline;
		
	}
}
/* STYLES - BTN IR ARRIBA */
#scroll img{
	width: 20px;
	transition: .2s all;
	filter: blur(0) contrast(35%);
}
#scroll img:hover{
    padding-bottom: 2px;
    filter: blur(0) contrast(100%) drop-shadow(0px 0px 2px #fff);
}
@media (max-width: 516px){
	#scroll{
		background: #333333ff;
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 45px;
		height: 45px;
		border-radius: 5px 5px 5px 5px;
	}
	#scroll img{
		position: absolute;
		display: block;
		left: 13px;
		top: 15px;
	}
}