* {
	box-sizing: border-box;
}
body{
	padding: 0px;
	margin: 0px;
	background: #fafafa;
}
/* CONTENT-SECTION */
.content-section-divide{
	background: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-bottom: 120px;
}
.content-section-divide h4{
	font-family: 'Poppins', sans-serif;
	color: #4d4d4dff;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 5px 5px 0px 0px;
	font-size: 1.5em;
	width: 100%;
	height: auto;
	text-align: center;
}
.content-section-divide h4::selection{
	background-color: #4d4d4dff;
	color: #fff;
}
@media (max-width: 650px){
	.content-section-divide h4{
		margin-top: 90px;
	}
}
@media (max-width: 615px){
	.content-section-divide h4{
		margin-top: 20px;
		font-size: 1.2em;
	}
	.content-section-divide{
		margin-bottom: 70px;
	}
}
/* QUOTES */
.all-content-section{
	margin-top: 210px;
}
.content-section-quotes{
	background: none;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	margin-top: 50px;
}
.content-quote{
	background: #fff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 5px;
	transition: .3s all;
	overflow: hidden;
}
.content-quote:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: scale(1.010)
}
.image-lesson{
	width: 280px;
}
.image-lesson::selection{
	background-color: transparent;
}
.download-lesson{
	text-decoration: none;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 800;
	color: #ff7f2aff;
	border-radius: 0px 0px 5px 5px;
	letter-spacing: 2.1px;
	transition: .3s all;
}
.download-lesson:hover{
	background: #ff7f2aff;
	color: #fff;
}
.download-lesson:focus{
	outline: none;
}
.download-lesson::selection{
	background-color: #ff7f2aff;
	color: #fff;
}
@media (max-width: 768px){
	.all-content-section{
	margin-top: 150px;
	}
	.content-section-divide{
		margin-bottom: 60px;
	}
	.content-section-quotes{
		flex-direction: column;
	}
	.content-quote{
		margin-bottom: 40px;
	}
	#quote-1, #quote-2, #quote-3, #quote-4{
	background: none;
	margin-top: 0px;
	}
}
#not{
	pointer-events: none;
}
/* ------------------ */