* {
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.select-sections{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: repeat(1, .1fr);
	grid-gap: 50px;
	justify-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.select-sections div{
	color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	transition: .3s all;
}
.select-sections div:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: translateY(-1px);
}
.select-sections div a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: .7em;
	width: 100%;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 13px;
	padding-top: 13px;
	background: #4d4d4dff;
	letter-spacing: 2px;
}
.select-sections a::selection{
	background-color: #fff;
	color: #4d4d4dff;
}
.select-sections div i{
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #262626;
	cursor: default;
}
@media (max-width: 800px){
	.select-sections div i{
		font-size: .8em;
		width: 55px;
	}
}
@media (max-width: 600px){
	.select-sections{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px ;
		margin-bottom: 50px;
		margin-top: 50px;
	}
}