* {
    box-sizing: border-box;
  }
  body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    padding-top: 74px;
    background: rgba(236, 239, 252, 0.4);
    transition: all 0.2s;
  }
  body.darkMode {
    background-color: #1b355a;
  }
  
  body.darkMode .backg-content-sectionLessons {
    background-color: transparent;
  }