/* HEADER */
.header-top {
  position: fixed;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: rgb(0 0 0 / 10%) 0px -1px 17px;
}
.header-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotype-abrahamcalsin img {
  width: 100%;
  display: block;
}
.logotype-abrahamcalsin img::selection {
  background-color: transparent;
}
.logotype-abrahamcalsin {
  width: 75px;
}
/* BTN - MENU */
#btn_menu {
  display: none;
}
.menu_navbar label {
  position: absolute;
  color: #3b3d44;
  display: none;
  right: 30px;
  top: 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s all;
}
/* NAVBAR */
.navbar-men-resp ul {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-men-resp ul li {
  list-style: none;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-men-resp ul li:not(:last-child) {
  margin-right: 20px;
}
.navbar-men-resp ul li a:focus {
  outline: none;
}
.navbar-men-resp ul li a::selection {
  background-color: #111827;
  color: #fff;
}
.navbar-inicio,
.navbar-motivacion,
.sobre-mi {
  color: #3b3d44;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  transition: 0.3s all;
}
.navbar-inicio:hover {
  color: #f96802;
}
.navbar-motivacion:hover {
  color: #f96802;
}
.sobre-mi:hover {
  color: #f96802;
}
/* RESPONSIVE NAVBAR */
@media (max-width: 576px) {
  .logotype-abrahamcalsin {
    margin-left: 15px;
  }
}
@media (max-width: 650px) {
  .header-top {
    height: 70px;
  }
  .logotype-abrahamcalsin {
    width: 72px;
  }
  .navbar-men-resp {
    position: fixed;
    background: #fff;
    border-top: 1px solid #eee;
    width: 100%;
    height: 100%;
    top: 69px;
    right: -900px;
    padding: 0px;
    transition: 0.4s all;
  }
  .navbar-men-resp ul {
    display: block;
    padding: 3px;
  }
  .navbar-men-resp ul li:not(:last-child) {
    margin-right: 0px;
  }
  .navbar-inicio,
  .navbar-motivacion,
  .material-adicional,
  .sobre-mi {
    display: block;
    background: none;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 0.9em;
    transition: 0.3s all;
  }
  .navbar-inicio {
    margin-top: 40px;
  }
  .navbar-inicio:hover {
    color: #f96802;
  }
  .navbar-motivacion:hover {
    color: #f96802;
  }
  .sobre-mi:hover {
    color: #f96802;
  }
  .menu_navbar label {
    display: inline;
    cursor: pointer;
    transition: 0.1s all;
  }
  .menu_navbar label:active {
    transform: scale(1.1);
  }
  #btn_menu:checked ~ .navbar-men-resp {
    right: 0px;
  }
}
