/* --------------------------- */
.content-section-quotes-lessons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 50px 50px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.content-quote {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 10px 0px;
  transition: 0.3s all;
}
.content-quote:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-2px);
}
.lesson-image {
  width: 100%;
}
.lesson-image img {
  width: 100%;
  display: block;
}
.lesson-image img::selection {
  background-color: transparent;
}
.download-lesson-of-the-day {
  width: 100%;
}
.download-lesson-of-the-day a {
  text-decoration: none;
  font-size: 0.8em;
  color: #ff7f2aff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s all;
}
.download-lesson-of-the-day a:hover {
  background: #ff7f2aff;
  color: #fff;
}
.download-lesson-of-the-day a::selection {
  background-color: #ff7f2aff;
  color: #fff;
}
@media (max-width: 992px) {
  .content-section-quotes-lessons {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 50px 50px;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .content-section-quotes-lessons {
    grid-gap: 25px 25px;
  }
}
@media (max-width: 576px) {
  .content-section-quotes-lessons {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 30px 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 416px) {
  .content-section-quotes-lessons {
    grid-gap: 25px;
  }
}
@media (max-width: 280px) {
  .content-section-quotes-lessons {
    padding-left: 5px;
    padding-right: 5px;
  }
}
/*-- DISABLED --*/
.notCursor {
  cursor: not-allowed;
}
.sabled{
  pointer-events: none;
}
#linkDisabled{
  color: #7a7a7a;
}
